/* ProjectsSection.css */

#projects {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0d1117; /* Dark theme background */
}

.colorChangeHeading {
  font-size: 2.5rem;
  color: #58a6ff; /* Accent color for headings */
  margin-bottom: 2rem;
  text-align: center;
  transition: color 0.3s ease;
}

.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.projectCard {
  background-color: #161b22; /* Slightly lighter than the background */
  border: 2px solid #30363d; /* Border color */
  border-radius: 10px;
  width: 100%;
  padding: 1.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  text-align: center;
}

.projectCard:hover {
  transform: scale(1.01); /* Slight zoom on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Dark shadow effect */
}

.projectCard a {
  text-decoration: none;
  color: inherit;
}

.projectImage {
  width: 100%;
  height: auto;
  max-height: 600px;
  max-width: 600px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.projectCard .btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.projectCard .btn {
  padding: 8px 12px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.projectCard .btn-visit {
  background-color: #007bff; /* Blue */
}

.projectCard .btn-visit:hover {
  background-color: #0056b3;
}

.projectCard .btn-github {
  background-color: #24292e; /* GitHub Dark */
}

.projectCard .btn-github:hover {
  background-color: #1b1f23;
}


h2 {
  font-size: 1.8rem;
  color: #58a6ff; /* Accent color for titles */
  margin: 1rem 0;
  transition: color 0.3s ease;
}

.projectCard p {
  font-size: 1.5rem;
  color: #c9d1d9; /* Lighter text for descriptions */
}

p:hover {
  color: #58a6ff; /* Highlight description text on hover */
}

.projectCard:hover h2 {
  color: #00ff7f; /* Light green heading on hover */
}

.projectCard:hover p {
  color: #00ff7f; /* Light green text on hover */
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .projectsContainer {
    flex-direction: column;
    align-items: center;
  }

  .projectCard {
    width: 90%;
    margin-bottom: 2rem;
  }
  .projectCard p{
    font-size: 1rem;
  }
}
