/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333;
}

nav {
  background: #1e1e2f;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

/* Logo Section */
.logoBox {
  display: flex;
  align-items: center;
}
.nameLogo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: transform 0.3s ease;
  filter: brightness(1.8);
}

.logo img:hover {
  transform: scale(1.1);
}
.menuBox {
  margin: 2px 10px;
}
.myName {
  font-size: 1.2rem;
  color: #fff;
  font-weight: bold;
}

.CV {
  color: #58a6ff;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.CV:hover {
  color: #82cfff;
}

/* Menu Section */
.menu {
  display: flex;
  list-style: none;
}

.menu li {
  margin-left: 2rem;
}

.menu li a {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 0.5rem;
  border-radius: 4px;
}

.menu li a:hover {
  color: #58a6ff;
  background: rgba(255, 255, 255, 0.1);
}

.active a {
  color: #82cfff;
}

.menu li a:focus {
  outline: none;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .menu {
    display: none; /* Hide menu for smaller screens */
  }

  .menu.active {
    display: flex;
    flex-direction: column;
    background-color: #1e1e2f;
    position: fixed;
    top: 60px;
    right: 0;
    width: 60%;
    height: 100vh;
    padding: 2rem;
    box-shadow: -4px 0 15px rgba(0, 0, 0, 0.2);
  }

  .menu li {
    margin-left: 0;
    margin-bottom: 2rem;
  }

  .logoBox {
    flex: 1;
    justify-content: space-between;
  }
  .menuBox {
    display: flex;
    justify-content: space-between;
  }
}

/* Mobile Menu Toggle Button */
.menuToggle {
  display: none;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 101;
}

@media screen and (max-width: 768px) {
  .menuToggle {
    display: block;
  }
}

/* Flexbox helpers */
.flex {
  display: flex;
  align-items: center;
}
