* {
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease, transform 0.3s ease, opacity 0.3s ease,
    box-shadow 0.3s ease;
}

body {
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0d1117; /* Dark background to match theme */
}

::-webkit-scrollbar-thumb {
  background-color: #58a6ff; /* Primary accent color for the scrollbar */
  border-radius: 10px;
  border: 2px solid #0d1117; /* Dark border to blend with background */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4c91e3; /* Slightly lighter blue on hover */
}

html {
  scroll-behavior: smooth;
}
